@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Global */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /*display: block;*/
}
title {
    display: none;
}
body {
    overflow: scroll;
}

/* Header image. */
#banner {
    background-size: 100%;
    background-position: top center;
    height: 350px;
    margin: -8px -8px 0 -8px;
    padding: 15px 0;
    text-align: center;

    min-height: 350px;
    width: auto;
}
#logo {
    margin-top: 150px;
    width: 130px;
    height: 100px;
}
#banner h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
#banner a {
    text-decoration: none;
}

/* Encompasses all elements under the header. */
#container {
    position: relative;
    margin: 12px auto;
    width: 1000px;
    overflow: auto;
}

/* Navigation sidebar. */
#navBack {
    height: 50px;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;

    padding: 7px;
    
    background-color: #AA0000;
    opacity: 0.9;
    z-index: 9999;
}

nav {
    margin: 0px auto;
    margin-left: 7%;
    width: 800px;
}

nav ul {
    float: center;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

nav li {
    padding: 5px 15px 5px 15px;
    float: left;
    font-size: 20px;
    transition: color .2s;
        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: initial;
        transition-delay: initial;
}

nav a {
    text-decoration: none;
    color: rgb(185, 185, 185);
}

nav a:hover, nav li:hover, .highlight {
    color: #FFFFFF
}

/* News feed. */
.posts {
    width: 65%;
    float: right;
    overflow: hidden;
}
time {
    margin-top: 10px;
    display: inline-block;
    color: #9EABB3;
}
.postEntry {
    margin-bottom: 15px;
}
.postEntry h1 {
    margin: 0 auto;
}
.postEntry h2 {
    margin: 0 auto;
    font-size: 14px;
}
.postEntry img {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    height: 400px;
    width: auto;
}
#postPreview {
    margin-bottom: -2.5px;
}

/* Sidebar. */
#sidebar {
    float: left;
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    overflow: hidden;
}
#sidebar iframe {
    margin: 10px 10px 10px 0;
}
#sidebar ul {
    list-style: none;
} 

/* Roster. */
#rosterTable {
    font-size: 12px;
    text-align: left;
    width: 480px;
}
#rosterTable th, #rosterTable td, #rosterTable table { 
    border: 1px solid #69c;
        border-top-color: rgb(102, 153, 204);
        border-top-style: solid;
        border-top-width: 1px;
}

#rosterTable tbody {
    background: #e8edff;
}
#rosterTable table {
    display: table;
}

#testTable {
    border:1px solid black;
    border-collapse:collapse;
    text-align: left;
    font-size: 14px;
}

/* Contact page/form. */
#form {
    font-size: 18px;
    width: 100%;
}
#form #box {
    display: block;
    width: 70%;
    padding: 10px;
    font-size: 14px;
}
input[type="submit"] {
    background: rgb(66, 184, 221);
    padding : 15px 80px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: 10px;
}
input[type="submit"]:hover {
    background: rgb(44, 180, 200);
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -moz-transition-duration: .3s;
}
textarea {
     height: 120px;
     overflow: auto;
     resize: none;
}

/* Footer, where credits are given. */
#footer {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
}
#footer a {
    text-decoration: none;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    color: #9EABB3;
}
#footer a:visited {
    color: #9EABB3;
}
#footer a:hover { 
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -moz-transition-duration: .3s;
    color: #3399CC; 
}
#footer a:active {
    color: #3399FF;
}