<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Burlingame Robotics</title>
		<meta name="description" content="The Official BHS Robotics Website" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />
<!-- 	<script src="js/script.js"></script> -->
	</head>

	<body>
		<header class="banner" role="banner"></header>
		<div id="container">
			<nav>
				<ul id="sidebar">
					<a href="/index.html"><li>Home</li></a>
					<a href="/roster.html"><li>Roster</li></a>
					<a href="/jointeam.html"><li>Apply</li></a>
					<a href="/contact.html"><li>Contact us</li></a>
				</ul>
			</nav>
			<main class="feed" role="main">.
				<article class="post">
					<header class="post">
						<span><time datetime="2014-07-01">July 1st, 2014</time></span>
						<h1>Here is a header for a post. This is what a header for a post looks like.</h1>
					</header>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
				</article>
				<article class="post">
					<header class="post">
						<span><time datetime="2014-07-02">July 2nd, 2014</time></span>
						<h1>And here is a another header for a post. This is what a header for a post looks like. Except this one's even better!</h1>
					</header>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
					<p>qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
				</article>
			</main>
			<hr />
		</div>
		<div id="footer"><a href="https://github.com/fsxfreak/iron-panthers-web">Site created by Stanley Kwong and Leon Cheung. Copyright &copy; 2014.</a></div>
	</body>
</html>