@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
	font-family: 'Roboto', sans-serif;
}

/* This is the banner, which is just a plain color right now. Img should go here */

.banner {
	height: 200px;
	margin: -8px -8px 0 -8px;
	background-image: url("img/stock-banner.jpg");
}

/* Encompasses all elements under the header. */
#container {
	display: block;
	margin: 10px auto;
	width: 900px;
	overflow: auto;
}

/* Navigation sidebar. */
#sidebar {
	float: left;
	display: block;
	margin: 0 auto;
	width: 20%;
	list-style: none;
	padding-left: 0;
	border-left: 5px;
	border-left-style: solid;
	border-left-color: #FABEBE;
	transition: border-color .3s;
		transition-property: border-color;
		transition-duration: 0.3s;
		transition-timing-function: initial;
		transition-delay: initial;
}
#sidebar:hover {
	border-left-color: #FF0D0D;
}
#sidebar>li {
	font-weight: 500;
	font-size: 20px;
	padding: 7% 0;
	/*padding: 7% 0*/;
	transition: background-color .2s;
		transition-property: background-color;
		transition-duration: 0.2s;
		transition-timing-function: initial;
		transition-delay: initial;
}
#sidebar>li:hover {
	background-color: #D7E29F;
}
#sidebar>li>a {
	/*Can't figure out how to make the entire list item clickable
	  (i.e. the highlighted section). I can't get the right margin
	  to be linkable. */
	padding-left: 20%;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	text-decoration: none;
	color: rgb(155, 155, 155);
}
#sidebar>li>a:hover {
	color: rgb(0, 0, 0);
}

/* News feed. */
.feed {
	float: left;
	margin-left: 2%;
	margin-top: -3%;
	width: 77%;
	height: 80%;
}

.post {
	position: relative;
}

time {
	margin-top: 10px;
	display: inline-block;
	color: #9EABB3;
}
.post h1 {
	margin-top: -2px;
}